{% extends "dashboard.html.twig" %}

{% block content %}
  {% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong> {{ message }} </strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  <div class="row">
    <div class="col-md-7 p-2 bg-white card mx-auto">
      <div class="card-header">
        <h5 class="text-primary text-uppercase">Tous les services</h5>
      </div>
      <table class="table mt-3">
        <thead class="thead-darkk card-headerr thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>

        <tbody class="card-body bg-light">
          {% if services %}
            {% for service in services %}
              <tr>
                <th scope="row">{{ service.id }}</th>
                <td>{{ service.title }}</td>
                <td>{{ service.description }}</td>
                <td>
                  {% if service.imageName %}
                    <img src="{{ vich_uploader_asset(service, 'imageFile')}}" alt="image" width="50px" height="50px">
                  {% else %}
                    <b>Pas d'image</b>
                  {% endif %}
                </td>
                <td>
                  <a class="btn btn-info" href="{{ path('service.edit', {'id': service.id}) }}">
                    <i class="fa fa-edit"></i>
                  </a>
                  {{ include('dashboard/service/_delete_form.html.twig') }}
                </td>
              </tr>
            {% endfor %}
          {% else %}
            Vous n'avez pas encore ajouter de service
          {% endif %}
        </tbody>
      </table>
    </div>

    <div class="col-md-4 p-2 bg-light card mx-auto">
      <div class="card-header">
        <h5 class="text-primary text-uppercase">Ajouter un service</h5>
      </div>
      {# Form #}
      <div class="card-body bg-white">
        {{ include('dashboard/service/_form.html.twig') }}
      </div>
    </div>
  </div>

{% endblock %}